build/*
native/*.iml
native/.idea/*
*.iml
.idea/*
.gradle/*
.kobalt/*
kobaltBuild/*
*/kobaltBuild/*
kobalt/out/*
*/build/*
*/.gradle/*
local.properties
js/.idea/*
js/*/build/*
js/node_modules/*
native/*-build/*
*.kexe
*.kt.bc
