**/build/*
**/.idea/*
*.iml
.idea/*
.gradle/*
.kobalt/*
kobaltBuild/*
*/kobaltBuild/*
kobalt/out/*
*/build/*
*/.gradle/*
local.properties
node_modules/*
*.kexe
docs/site
docs/markdown/Reference*
*/out/*
docs/markdown/api/**